<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.collezione})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>

		<div id="divDescPage" th:if="${collezione}" th:object="${collezione}">

			<div>
				<span th:text="*{nome}"></span>
			</div>

			<div>
				<span th:text="*{descrizione}"></span>
			</div>


			<div>
				Curatore: <span th:text="*{curatore.nome}"> </span> <span
					th:text="*{curatore.cognome}"> </span>
			</div>
			<div>
				Opere in collezione:
				<ul>
					<li th:each="opera : ${opere}"><a href="opera.html"
						th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}"></a>

					</li>
				</ul>

			</div>
		</div>
		<div th:unless="${collezione}">Questa collezione non esiste</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>