<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Museo Arti Nordiche')"> </head>
<meta charset="UTF-8" />
<link th:href="@{/css/home.css}" rel="stylesheet">
<title th:text="${title}"></title>
</head>
<body align="center">
	<header th:replace="fragments/base.html :: intestazione"></header>
	<ul>
		<li th:each="opera: ${opere}">
			<div class="blocco1" align=”center”>
				<span class="desc" th:text="${opera.descrizione}"> Descrizione opera 1</span> <img
					th:src="{'/images/'+'/'+'${opera.image}'}"
					>
			</div>
		<li>
	</ul>
	<div class="blocco2" align="center">
		<img src="/home/gabriele/Scaricati/Iris-Vincent_van_Gogh.jpg"
			alt="Iris, di Vincent Van Gogh"> <span class="desc">
			Descrizione opera 2</span>
	</div>
	<div class="blocco1" align="center">
		<span class="desc"> Descrizione opera 3</span> <img
			src="/home/gabriele/Scaricati/SelbstPortrait.jpg"
			alt="Autoritratto, di Vincent Van Gog">
	</div>
	<div class="blocco2" align="center">
		<img th:src="@{/images/Notte_Stellata-VanGogh.jpg}"
			alt="La Notte Stellata, di Vincent Van Gog"> <span class="desc">
			Descrizione opera 4</span>
	</div>
	<footer th:fragment="fondo">
		<span id="spanFooter">2021 <a id="foot" href="/">Museo</a>di
			Farnese
		</span>
	</footer>
</body>
</html>